<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" href="../css/style3.css" />
  </head>
  <body>
    <main>
      <div class="container2">
        <div class="containerForm2">
          <div class="formulario2">
            <h1 class="titulo2">Recupere sua senha:</h1>
            <form action="./login.html">
              <label for="email">
                Digite aqui seu <span class="textos">Email</span>:
              </label>
              <input class="caixas" type="email" id="email" name="email" />
              <br />
              <br />
              <input
                type="submit"
                value="Receber email de recuperação"
                class="submitBotao"
              />
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
