<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/style2.css" />
  </head>
  <body>
    <main>
      <div class="container2">
        <div class="containerForm2">
          <div class="formulario2">
            <h1 class="titulo2">Faça seu Login:</h1>
            <form action="../index.html">
              <label for="nome">
                Digite aqui seu <span class="textos">Nome</span>:
              </label>
              <input class="caixas" type="text" id="nome" name="nome" />
              <br />
              <br />
              <label for="senha">
                Digite aqui sua
                <span class="textos">Senha </span>:
              </label>
              <input class="caixas" type="password" id="senha" name="senha" />
              <br />
              <a class="anchor" href="../views/esqueci.html"
                >Esqueceu sua senha?</a
              >
              <br />
              <br />

              <input type="submit" value="Login" class="submitBotao" />
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
